
# User-specific files
*.suo
*.user
*.sln.docstates

# Build results

[Dd]ebug/
[Rr]elease/

packages/

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# Guidance Automation Toolkit
*.gpState

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac
.DS_Store
results/
TestResult.xml
bin
obj
bin
obj
obj
bin
